<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dwyred</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <script src="semantic/dist/semantic.min.js"></script>
    <script type="text/javascript" src="/app/routes.js"></script>
    <link rel="stylesheet" href="css/styles.css" media="screen" title="no title" charset="utf-8">
  </head>

<header>
  <!------START HEADER --->
  <div class="ui top fixed borderless menu dwired-blue" style="position: fixed; padding-left: 12.5%; padding-right: 10%">
    <div class="item">
      <h1 class="title">Dwyred</h1>
    </div>
    <div class="right menu">
      <a class="item dwyred-menu-item">Home</a>
      <a class="item dwyred-menu-item">Messages</a>
      <a class="item dwyred-menu-item">Files</a>
      <a class="item dwyred-menu-item" href="/login">Sign In</a>
    </div>
  </div>
  <!-------END HEADER --------->
</header>

  <body>
    <div class="ui one column stackable center aligned page grid main-container">
      <div class="column sixteen wide content-container segment">
        <div class="ui cards" style="margin-top: 50px">
          <div class="card">
            <div class="content">
              <div class="header">
                AP English
              </div>

            </div>
            <div class="extra content">
              <span class="right floated">
                Joined in 2013
              </span>
              <span>
                <i class="user icon"></i>
                75 Friends
              </span>
            </div>
          </div>

          <div class="card">
            <div class="content">
              <div class="header">
                Defining American Voices
              </div>

            </div>
            <div class="extra content">
              <span class="right floated">
                Joined in 2013
              </span>
              <span>
                <i class="user icon"></i>
                75 Friends
              </span>
            </div>
          </div>

          <div class="card">
            <div class="content">
              <div class="header">
                Defining American Voices
              </div>

            </div>
            <div class="extra content">
              <span class="right floated">
                Joined in 2013
              </span>
              <span>
                <i class="user icon"></i>
                75 Friends
              </span>
            </div>
          </div>


          <div class="card">
            <div class="content">
              <div class="header">
                Defining American Voices
              </div>

            </div>
            <div class="extra content">
              <span class="right floated">
                Joined in 2013
              </span>
              <span>
                <i class="user icon"></i>
                75 Friends
              </span>
            </div>
          </div>

        </div>
      </div>
    </div>







    <script type="text/javascript" src="/app/styles.js"></script>
  </body>
</html>
