<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dwyred</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <script src="semantic/dist/semantic.min.js"></script>
    <script type="text/javascript" src="/app/routes.js"></script>
    <link rel="stylesheet" href="css/styles.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <!------START HEADER --->
    <div class="ui top fixed borderless menu dwired-blue" style="position: fixed; padding-left: 12.5%; padding-right: 10%">
      <div class="item">
          <h1 class="title">Dwyred</h1>
      </div>
      <div class="right menu">
        <a href="/" class="item dwyred-menu-item">Home</a>
        <a href="/chat" class="item dwyred-menu-item">Messages</a>
        <a href="/files" class="item dwyred-menu-item">Files</a>
				<a href="/auth/google" class="item dwyred-menu-item">Sign-In</a>
      </div>
    </div>
    <!-------END HEADER --------->

    <!-- MAIN CONTENT HERE ----->
    <!---THESE TWO LINES OF CODE MAKE THE INVISIBLE CONTAINER THAT HOLDS EVERYTHING-->
    <div class="ui one column stackable center aligned page grid main-container" style="padding: 0">
      <div class="column nine wide content-container segment">

        <!---The "segments" container holds individual segments-->
        <div class="ui segments">

          <!--Each of these segments holds one post -->
          <div class="ui left aligned segment">
            <a class="ui blue ribbon label">June 9th</a>
            <span><h3 class="writing post">Rick Melucci</h3></span>
            <!--<h3 class="writing">Rick Melucci</h3>-->
            <p class="post">
              Celiac banh mi humblebrag gochujang vinyl. Lo-fi fashion axe raw denim, next level knausgaard single-origin coffee banh mi. Tousled health goth chillwave, lumbersexual salvia humblebrag taxidermy whatever mustache pinterest banjo. Hella artisan sustainable pop-up, blog before they sold out ramps occupy lo-fi. Keffiyeh distillery swag, tattooed bitters chicharrones sustainable pitchfork ethical neutra master cleanse ennui roof party viral. Jean shorts ennui man bun typewriter master cleanse, narwhal pop-up. Kinfolk thundercats ethical, cronut stumptown leggings yr.
            </p>
            <div class="meta post">
              <a class="like" style="margin-right: 5%">
                <i class="like icon"></i> 4 Likes
              </a>
              <a class="like"><i class="comment icon"></i> 3 Comments</a>
            </div>
          </div>
          <!--This is the end of the post segment -->


          <!-------- Start of the comments section, not visible until comments is clicked on --------->
          <div class="ui left aligned segment dwired-comment">
            <div class="ui comments">

              <!--Start of individual comment -->
              <div class="comment">
                <div class="content">
                  <a class="author">Matt</a>
                  <div class="meta postdata">
                    <span class="date">Today at 5:42PM</span>
                  </div>
                  <div class="text">
                    How artistic!
                  </div>
                  <div class="actions">
                    <a class="reply">Reply</a>
                  </div>
                </div>
              </div>
              <!-- End of individual comment -->

              <!--Start of individual comment -->
              <div class="comment">
                <div class="content">
                  <a class="author">Elliot Fu</a>
                  <div class="meta postdata">
                    <span class="date">Yesterday at 12:30AM</span>
                  </div>
                  <div class="text">
                    <p>This has been very useful for my research. Thanks as well!</p>
                  </div>
                  <div class="actions">
                    <a class="reply">Reply</a>
                  </div>
                </div>
                <div class="comments">
                  <div class="comment">
                    <div class="content">
                      <a class="author">Jenny Hess</a>
                      <div class="meta postdata">
                        <span class="date">Just now</span>
                      </div>
                      <div class="text">
                        Elliot you are always so right :)
                      </div>
                      <div class="actions">
                        <a class="reply">Reply</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End of individual comment -->

              <!--Start of individual comment -->
              <div class="comment">
                <div class="content">
                  <a class="author">Joe Henderson</a>
                  <div class="meta postdata">
                    <span class="date">5 days ago</span>
                  </div>
                  <div class="text">
                    Dude, this is awesome. Thanks so much
                  </div>
                  <div class="actions">
                    <a class="reply">Reply</a>
                  </div>
                </div>
              </div>
              <!--End of individual comment -->

              <!--Start of comment input -->
              <form class="ui reply form">
                <div class="field">
                  <textarea></textarea>
                </div>
                <div class="ui blue labeled submit icon button">
                  <i class="icon edit"></i> Add Reply
                </div>
              </form>
              <!--End of comment input -->

            </div>
          </div>
        </div>
      </div>

      <div class="column nine wide content-container segment">
        <div class="ui segments">
          <div class="ui left aligned segment">
            <a class="ui blue ribbon label">June 7th</a>
            <span><h3 class="writing post">Derrick Lui</h3></span>
            <p class="post">
              Celiac banh mi humblebrag gochujang vinyl. Lo-fi fashion axe raw denim, next level knausgaard single-origin coffee banh mi. Tousled health goth chillwave, lumbersexual salvia humblebrag taxidermy whatever mustache pinterest banjo. Hella artisan sustainable pop-up, blog before they sold out ramps occupy lo-fi. Keffiyeh distillery swag, tattooed bitters chicharrones sustainable pitchfork ethical neutra master cleanse ennui roof party viral. Jean shorts ennui man bun typewriter master cleanse, narwhal pop-up. Kinfolk thundercats ethical, cronut stumptown leggings yr.
            </p>
            <div class="meta post">
              <a class="like" style="margin-right: 5%">
                <i class="like icon"></i> 4 Likes
              </a>
              <a class="like"><i class="comment icon"></i> 3 Comments</a>
            </div>
          </div>
          <div class="ui left aligned very padded segment dwired-comment">
            <h4>Comments</h4>
          </div>
        </div>
      </div>

      <div class="column nine wide content-container segment">
        <div class="ui segments">
          <div class="ui left aligned padded segment">
            <a class="ui blue ribbon label">June 6th</a>
            <span><h3 class="writing post">Justin Pacquing</h3></span>
            <p class="post">
              Celiac banh mi humblebrag gochujang vinyl. Lo-fi fashion axe raw denim, next level knausgaard single-origin coffee banh mi. Tousled health goth chillwave, lumbersexual salvia humblebrag taxidermy whatever mustache pinterest banjo. Hella artisan sustainable pop-up, blog before they sold out ramps occupy lo-fi. Keffiyeh distillery swag, tattooed bitters chicharrones sustainable pitchfork ethical neutra master cleanse ennui roof party viral. Jean shorts ennui man bun typewriter master cleanse, narwhal pop-up. Kinfolk thundercats ethical, cronut stumptown leggings yr.
            </p>
            <div class="meta post">
              <a class="like" style="margin-right: 5%">
                <i class="like icon"></i> 4 Likes
              </a>
              <a class="like"><i class="comment icon"></i> 3 Comments</a>
            </div>
          </div>
          <div class="ui left aligned very padded segment dwired-comment">
            <h4>Comments</h4>
          </div>
        </div>
      </div>


      <div class="column nine wide content-container segment">
        <div class="ui segments">
          <div class="ui left aligned padded segment">
            <a class="ui blue ribbon label">June 6th</a>
            <span><h3 class="writing post">Chris Liang</h3></span>
            <p class="post">
              Celiac banh mi humblebrag gochujang vinyl. Lo-fi fashion axe raw denim, next level knausgaard single-origin coffee banh mi. Tousled health goth chillwave, lumbersexual salvia humblebrag taxidermy whatever mustache pinterest banjo. Hella artisan sustainable pop-up, blog before they sold out ramps occupy lo-fi. Keffiyeh distillery swag, tattooed bitters chicharrones sustainable pitchfork ethical neutra master cleanse ennui roof party viral. Jean shorts ennui man bun typewriter master cleanse, narwhal pop-up. Kinfolk thundercats ethical, cronut stumptown leggings yr.
            </p>
            <div class="meta post">
              <a class="like" style="margin-right: 5%">
                <i class="like icon"></i> 4 Likes
              </a>
              <a class="like"><i class="comment icon"></i> 3 Comments</a>
            </div>
          </div>
          <div class="ui left aligned very padded segment dwired-comment">
            <h4>Comments</h4>
          </div>
        </div>
      </div>


      <div class="column nine wide content-container segment">
        <div class="ui segments">
          <div class="ui left aligned segment">
            <a class="ui blue ribbon label">June 4th</a>
            <span><h3 class="writing post">Jacob Hoffman</h3></span>
            <p class="post">
              Celiac banh mi humblebrag gochujang vinyl. Lo-fi fashion axe raw denim, next level knausgaard single-origin coffee banh mi. Tousled health goth chillwave, lumbersexual salvia humblebrag taxidermy whatever mustache pinterest banjo. Hella artisan sustainable pop-up, blog before they sold out ramps occupy lo-fi. Keffiyeh distillery swag, tattooed bitters chicharrones sustainable pitchfork ethical neutra master cleanse ennui roof party viral. Jean shorts ennui man bun typewriter master cleanse, narwhal pop-up. Kinfolk thundercats ethical, cronut stumptown leggings yr.
            </p>
            <div class="meta post">
              <a class="like" style="margin-right: 5%">
                <i class="like icon"></i> 4 Likes
              </a>
              <a class="like"><i class="comment icon"></i> 3 Comments</a>
            </div>
          </div>
          <div class="ui left aligned very padded segment dwired-comment">
            <h4>Comments</h4>
          </div>
        </div>
      </div>
    </div>


    <script type="text/javascript" src="/app/styles.js"></script>
  </body>
</html>
