<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dwyred</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="semantic/semantic.min.css">
    <script src="semantic/dist/semantic.min.js"></script>
    <script type="text/javascript" src="/app/routes.js"></script>
    <link rel="stylesheet" href="css/styles.css" media="screen" title="no title" charset="utf-8">
  </head>

  <body>
    <div class="ui grid dwired-banner" style="margin: 0">
      <div class="vertical-center">
        <center>
            <div class="row centered" style="margin-bottom: 15px">
              <h1 id="banner-title" class="title">Dwyred</h1>
            </div>
        </center>
        <center>
          <div class="row centered">
            <h2 class="writing">Making teacher and student communication how it should be:</h2>
          </div>
        </center>
        <center>
          <div class="row centered dwired-lightblue-text">
            <h1>Seamless</h1>
          </div>
        </center>
      </div>
    </div>

    <div class="ui center aligned grid home-options">
      <div class="three column row">
        <div class="column">
          <a href="auth/google" class="links">
            <div class="ui link item">
              <h1>About us</h1>
            </div>
          </a>
        </div>

        <div class="column">
          <a href="auth/google" class="links">
            <div class="ui link item">
              <h1>Log in</h1>
            </div>
          </a>
        </div>


        <div class="column">
          <a href="auth/google" class="links">
            <div class="ui link item">
              <h1>Sign up</h1>
            </div>
          </a>
        </div>

      </div>
    </div>

  </body>
