<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dwyred - Messages</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <script src="semantic/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="css/styles.css" media="screen" title="no title" charset="utf-8">
  </head>

<header>
    <div class="ui top fixed borderless menu dwired-blue" style="position: fixed; padding-left: 12.5%; padding-right: 10%">
    <div class="item">
      <h1 class="title">Dwyred</h1>
    </div>
    <div class="right menu">
      <a href="/" class="item dwyred-menu-item">Home</a>
      <a href="/chat" class="item dwyred-menu-item">Messages</a>
      <a href="/files" class="item dwyred-menu-item">Files</a>
    </div>
  </div>
</header>

  <body>
    <!--<div class="ui padded segments messages-container">
      <div class="ui basic segment">
          <h1>Rick Melucci</h1>
      </div>
    </div>-->
    <div class="ui one column stackable center aligned page container grid main-container">
        <div class="column sixteen wide ui segments" style="height: 80%; top: 100px; background-color: white">
          <h3 class="ui top attached header" style="margin-bottom: 2%;">
            Defining American Voices Chat
          </h3>
          <div class="ui one column stackable grid" style="height: 80%; margin-bottom: 5px">

            <!-- THIS IS THE MAIN CONTENT CONTAINER -->
            <div class="column sixteen wide ui basic segment" style="overflow-y: scroll" id="messages">
              <!-- <div class="ui right floated right aligned segment chat-bubble"> -->
              <!--   <b>Rick Melucci</b> -->
              <!--     <p class="writing-body"> -->
              <!--       Celiac banh mi humblebrag gochujang vinyl. -->
              <!--     </p> -->
              <!-- </div> -->

              <!-- <div class="ui right floated segment right aligned chat-bubble"> -->
              <!--   <b>Rick Melucci</b> -->
              <!--   <p class="writing-body"> -->
              <!--     Tousled health goth chillwave, lumbersexual salvia humblebrag taxidermy whatever mustache pinterest banjo. Hella artisan sustainable pop-up, blog before they sold out ramps occupy lo-fi. -->
              <!--   </p> -->
              <!-- </div> -->

              <!-- <div class="ui left floated segment left aligned chat-bubble"> -->
              <!--   <b>Donald Trump</b> -->
              <!--   <p class="writing-body"> -->
              <!--     Jean shorts ennui man bun typewriter master cleanse, narwhal pop-up. Kinfolk thundercats ethical, cronut stumptown leggings yr. -->
              <!--   </p> -->
              <!-- </div> -->

              <!-- <div class="ui left floated segment left aligned chat-bubble"> -->
              <!--   <p class="writing-body"> -->
              <!--     Jean shorts ennui man bun typewriter master cleanse, narwhal pop-up. Kinfolk thundercats ethical, cronut stumptown leggings yr. -->
              <!--   </p> -->
              <!-- </div> -->

              <!-- <div class="ui left floated segment left aligned chat-bubble"> -->
              <!--   <p class="writing-body"> -->
              <!--     Celiac banh mi humblebrag gochujang vinyl. -->
              <!--   </p> -->
              <!-- </div> -->
						</div>
          </div>


          <div class="ui action input dwired-input">
            <form action="" style="width: 100%">
	            <input type="text" id="m" placeholder="Send message...." autocomplete="off" style="width: 80%">
              <button class="ui button">Send</button>
	          </form>
          </div>
        </div>
    </div>
		<script src="/socket.io/socket.io.js"></script>
		<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
		<script>

			$.get( '/chatdata', function(data) {
			$('#messages').html(data);
			});
			
			var socket = io();


            console.log("hello");
            var chatbox = $("#messages");
            var height = chatbox.height;
            var main = function() {
              chatbox.scrollTop(height);
              console.log(height);
            }
            $(document).ready(main);


			$('form').submit(function(){
			  socket.emit('chat message', $('#m').val());
			  $('#m').val('');
			  return false;
			});
			var username = '<%= user.google.name %>';
			socket.on('chat message', function(msg){
			  $('#messages').append($('<div class="ui right floated segment right aligned chat-bubble">').text(username + " : " + msg));
  });
  </script>
  </body>
</html>
