html{
  height: 100vh;
  width: 100vw;
}

body{
  height: 100vh;
  width: 100vw;
  background-color: #00AFA1;
}

.dwired-blue{
  background-color: #00AFA1;
}

/* Dwyred Copy: */
.title{
  font-family: Avenir-Black;
  font-size: 54px;
  color: #00AFA1;
  line-height: 87px;
}

.dwyred-menu-item{
    font-size: 18px;
    color: #00AFA1;
    font-family: Avenir-Black;
}

.main-container{
  height: 100%;
}

.content-container{
    top: 100px;
}

.writing{
  font-family: Avenir-Black;
}

.dwired-comment{
  display: none;
}

.dwired-form{
  width: 600px !important;
  height: 400px;
}
