html{
  height: 100vh;
  width: 100vw;
}

body{
  height: 100vh;
  width: 100vw;
  background-color: #00AFA1;
}

.dwired-blue{
  background-color: #00AFA1;
}

/* Dwyred Copy: */
.title{
  font-family: 'Nunito', sans-serif;
  font-size: 54px;
  color: #00AFA1;
  line-height: 70px;
}

.dwired-blue-text{
  color: #00AFA1;
}

.dwired-lightblue-text{
  color: #7EA8BE;
}

.dwyred-menu-item{
    font-size: 18px;
    color: #00AFA1;
    font-family: 'Nunito', sans-serif;
}

.main-container{
  height: 100%;
}

.content-container{
    top: 126px;
}

.writing{
  font-family: 'Nunito', sans-serif;
}

.writing-body{
  font-family: Helvetica;
  font-weight: 400;
}

.heavy{
  font-weight: 800;
}

.light{
  font-weight: lighter;
}

.dwired-comment{
  display: none;
}

.dwired-form{
  width: 600px !important;
  height: 400px;
}

.messages-container{
  background-color: white;
  width: 50% !important;

}

.comment-padding{
  margin: 2.5%;
}

.dwired-input{
  position: absolute;
  width: 90%;
}

.chat-bubble{
  width: auto;
  max-width: 50%;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.dwired-banner{
  width: 100%;
  height: 90%;
  background-color: white;
}

.vertical-center{
  position: relative;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
}

#banner-title{
  font-size: 72pt;
}

.home-options{
  height: 10%;
  color: white;
}

.links{
  color: white;
  text-decoration: none;
}

.post{
  padding-left: 5%;
  padding-right: 5%;
}
